*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
body{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.primerh3{
    text-align: center;
    text-decoration:dotted;
    text-transform: uppercase;
}
.Cabecera_de_la_pagina{
    background-color: rgba(128, 128, 128, 0.541);
}
.primer_parrafo{
    text-align: start;
    text-decoration:underline;
    text-transform: initial;
    font: bold;
    font-style:normal;
    font-size: large;
}
.PP1{
    text-align: justify;
    text-transform: capitalize;
    text-decoration:underline;
    color:darkslategray;
}
.segundo_bq{
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.DavidGilmour{
    height: 300px;
    width: 250px;
    object-fit: contain;
    object-position:left;
    margin: 0 0 1em 1em;
}
.CajasH{
    padding: 20px;
}
.Caja1{
    background-color: rgba(109, 187, 255, 0.178);
    width:500px;
    height: 30px;
    border-style:double;
    border-color:rgba(121, 121, 121, 0.945);
    margin: 1px 10px 10px 10px ;
    padding-left: 10px;
    padding: 10px;
    border-radius: 0.2rem;
    box-shadow:black 5px 4px 10px 2px;
}
.PP2_caja1{
    text-align: center;
    text-transform:uppercase;
    text-overflow: ellipsis;
    font-size: 20px;
}
.Caja2{
    background-color: rgba(255, 159, 69, 0.178);
    width:500px;
    height: 30px;
    border-style:double;
    border-color:rgba(121, 121, 121, 0.945);
    margin: 1px 10px 10px 10px ;
    padding-left: 10px;
    padding: 10px;
    border-radius: 0.2rem;
    box-shadow:rgb(109, 109, 109) 20px 15px 8px 3px;
}

.Box1{
    background-color: rgba(69, 119, 255, 0.521);
    width:500px;
    height: 30px;
    padding: 10px;
    border-radius: 0.2rem;
    box-shadow:rgba(37, 37, 37, 0.781) 7px 5px 8px 3px;
    margin: 1px 10px 10px 10px ;
}

.Father_box{
    position: relative;
    background-color: #ff2828;
    padding: 20px;
    width: 500px;
    height: 100px;
    border-radius: 0.2rem;
}
.Inner_box{
    background-color: rgb(48, 48, 48);
    width:500px;
    height: 30px;
    position: absolute;
    left: 300px;
   
    padding: 20px;
    border-radius: 0.3rem;
}
.PP3_FatherBox{
    color: aliceblue;
}   
.PP4_InnerBox{
    color: rgb(255, 141, 10);
}
.box33{
    margin:1px;
    width: 20vw ;
    height: 15vh ;
    background-color: rgb(255, 123, 0);
}

@media screen and (max-width: 768px)
{
 .box33{ 
    background-color: #ff2828;
 }
 body {
    background-color: #0000008a;
    font-size: 16px;
  }

  h1 {
    font-size: 1em;
  }
  h2{
    font-size: 1em;
  }

  section {
    width: 95%;
    padding: 10px;
  }
  div {
    width: 95%;
    padding: 10px;
  }
} 

/*.grid-container{
/*    display: flex;
/*  justify-content: space-between;
/*}*/

/*.grid-item{
    background-color: #ffd51cc0;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px;
}*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }
  
  .grid-item {
    background-color: #ff9100;
    padding: 20px;
    text-align: center;
  }
  

.animacion{
    background-color: rgba(36, 36, 36, 0.664);
    height:100px ;
    width:100px ;
    transition: 0.8s ease-in ;
}
.animacion:hover{
    cursor:pointer; 
    background-color: #ff0000;
}
.mover {
    width: 50px;
    height: 50px;
    background-color: #00f;
    animation: mover 2s infinite;
  }
  
  @keyframes mover {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }
.fondoPag{
  background-color: rgba(128, 128, 128, 0.541);
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
}
.ultimaParte{
  font-style: italic;
  font-family: cursive;
  font-size: 15px;
  text-align: center;
  text-decoration: solid;
  text-underline-offset:initial;
}

.button1{
  background-color: #4CAF50; 
  border: none; 
  color: white; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-size: 13px; 
  margin: 4px 2px; 
  cursor: pointer; 
  transition-duration: 0.4s; 
}
.button1:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50; 
}
